{% extends 'layout.html' %}

{% block body %}
<hr>
<div class="container">
    <h4>About Us.</h4>
    <br>
    <h6 class="font-weight-bold font-italic">This is a stock trading webapp in flask-sqlalchemy created as a group project at Byte Academy.</h6>
    <br>
    <h6 class="font-weight-bold">
        <p>Under the guidance of:</p>
            <ul>
                <li>Lakshmi Bogarram</li>
            </ul>
        
        <p>Developed by:</p>
            <ul>
                <li>Kapil Owal</li>
                <li>Manmeet Bhatia</li>
            </ul>
    </h6>
</div>
{% endblock %}